*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
.main{
    width: 100dvw;
    height: 100dvh;
}
.item{
    width: 95%;
    height: 10%;
    border: 3px solid black;
    border-radius: 10px;
    align-content: center;
    text-align: left;
}
.top{
    width:100%;
    height: 7%;
    align-content: center;
    padding-left: 2%;
    padding-top: 1%;
    display: flex;
    padding-right: 2%;
}
.greeting{
    width: 50%;
    align-content: center;
}
.grt{
    font-size: 2rem;
    font-weight: bold;
}
.notification{
    width: 50%;
    height: 100%;
    text-align: right;
    align-content: center;
}
.iconN{
    height: 70%;
    width: auto;
}
.content{
    width: 100%;
    height: 86%;
    justify-items: center;
}
.navbar{
    width: 100%;
    height: 6%;
    display: flex;
    background-color: rgb(0, 77, 219);
    position:absolute;
    bottom:0;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.nav-item{
    height: 100%;
}
.icon{
    height: 25px;
    width: auto;
}
.iconM{
    height: 50px;
    width: auto;
}
.border{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    align-content: center;
}
.pp{
    width: 30px;
    height: auto;
    border-radius: 50%;
}