*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 100dvh;
    align-content: center;
    justify-items: center
}
.form{
    padding: 3%;
    max-width: 80%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}
.paymentType{
    width: 100%;
    height: 100%;
}
.pytype{
    width: 100%;
    height: 30px;
    display: flex;
    margin-bottom: 5%;
}
.imageCon{
    width: 8%;
    height: 100%;
    margin-right: 3%;
    align-content: center;
}
.labelCon{
    width: 64%;
    height: 100%;
    align-content: center;
}
.inputCon{
    width: 25%;
    height: 100%;
    align-content: center;
    text-align: right;
}
.image{
    height: 25px;
    width: 31px;
}
.py{
    width: 50%;
    height: 50%;
}
p{
    font-size: smaller;
}
h1{
    font-size: large;
    font-weight: 500;
}
.sticky-bottom{
    width: 100%;
    height: 40px;
    background-color: #008cff;
    border: 0;
    border-radius: 25px;
    margin-bottom: 1%;
    width: 98%;
    margin-left: 1%;
    color: white;
    font-weight: bold;
    font-size: larger;
}